.container {
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's on top */
}

.overlayContent {
  /* Add any desired styling here */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.actions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  z-index: 1100;
  bottom: 16px;
}
