.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.sortOptions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
